* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    position: fixed;
    background-image: url(20.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.intro {
    margin: 40px auto;
    border: 5px solid white;
    border-radius: 4px;
    width: 100%;
    height: 90px;
    bottom: 390px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
    margin-left: 25px;
}

.intro1 {
    color: white;
    bottom: 470px;
    left: 1px;
    margin: 40px auto;
    border: 5px solid white;
    border-radius: 4px;
    width: 35%;
    height: 90px;
    bottom: 390px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}


.hand {
    max-height: 50px;
    max-width: 35px;
}

.Choices1 {
    margin: 20px 0;
    margin-left: 170px;
    bottom: 100px;




}

.Choices2 {
    margin: 20px 0;
    margin-left: 170px;



}

.Choices3 {
    margin: 20px 0;
    margin-left: 170px;

}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
}

.choice:hover {
    cursor: pointer;
    background: #3c404a;
}

.Choices1 {
    margin-top: 200px;
}

.move {
    position: relative;
    top: 250px;
    left: 130px;
}

.intro2 {
    color: white;
    position: relative;
    bottom: 400px;
    left: 10px;
}

.btn1 {
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 220px;
    position: absolute;
    bottom: 10px;



}

.btn1:active {
    outline: 0;
}

.btn1:hover {
    outline: 0;
}

.btn1 span {
    transition: all 200ms;
}

.btn1:hover span {
    transform: scale(.9);
    opacity: .75;
}

@media screen and (max-width: 991px) {
    .btn1 {
        font-size: 15px;
        height: 50px;
    }

    .btn1 span {
        line-height: 50px;
    }
}

.btn2 {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 370px;
    position: absolute;
    bottom: 10px;

}

.btn2:active {
    outline: 0;
}

.btn2:hover {
    outline: 0;
}

.btn2 span {
    transition: all 200ms;
}

.btn2:hover span {
    transform: scale(.9);
    opacity: .75;
}

@media screen and (max-width: 991px) {
    .btn2 {
        font-size: 15px;
        height: 50px;
    }

    .btn2 span {
        line-height: 50px;
    }
}